@page
@model WebApplication2.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Login</h2>

<form method="post" asp-page-handler="Login">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card-dark text-center" style="width: 350px;">
            <h3 class="mb-3">EXISTING USER</h3>

            <input asp-for="Login.UserName" class="form-control mb-2" placeholder="Username" />
            <input asp-for="Login.Password" class="form-control mb-3" type="password" placeholder="Password" />

            <button type="submit" class="btn-purple w-100 mb-2">Log in</button>

          @*   <p>or</p>

            <button class="btn btn-light w-100">New User</button> *@
        </div>
    </div>

    @* <button type="submit">Login</button> *@
</form>

<p>
    Don't have an account?
    <a href="/Account/Register">Register here</a>
</p>


@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red">@Model.ErrorMessage</p>
}