@page
@model WebApplication2.Pages.Account.LoginModel

@{
    Layout = null;   // noņem navbar
}

<div class="login-wrapper">
    <div class="login-box">

        <h2>Login</h2>

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Credential.UserName" class="form-control" placeholder="Username" />
                <span asp-validation-for="Credential.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Credential.Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Credential.Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-login">Login</button>
        </form>

    </div>
</div>
