@page
@model RegisterModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/site.css" />


<div class="login-wrapper">
    <div class="login-card">
        <h2>Create Account</h2>

        <form method="post">
            <input asp-for="Username" placeholder="Username" />
            <input asp-for="Password" type="password" placeholder="Password" />
            <button type="submit">Register</button>
        </form>

        <p>Already have an account?</p>
        <a class="btn-create" asp-page="/Account/Login">Back to Login</a>
    </div>
</div>
