html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #121212;
}

.login-box {
    background: #181818;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    color: white;
    box-shadow: 0 10px 40px rgba(0,0,0,0.6);
}


body {
  margin-bottom: 60px;
}

body {
    background: linear-gradient(to right, #1e3c72, #5e275b);
    color: white;
}
